CompileFlags:
  Add: [
    "-xc",          # files are .c
    "-std=c17",     # C17 standard
    "Iinclude",     # include the "include" directory
    "-Wall",        # warnings all
    "-Wextra"       # warnings extra
  ]
  Remove: [
    "-W*"           # get rid of warning flag conflicts
  ]

Index:
  Background: Build         # index project in bg

Diagnostics:
  UnusedIncludes: Strict    # highlight unused #include dirs

BasedOnStyle: LLVM          # llvm style

BreakBeforeBraces: Allman   # allman braces
